<section class="intro">
  <div class="container">
    <p class="lead">
      Hi, I'm AMU! I do programming about art (especially music and sounds) on different hardware and software platforms. My main projects at the moment are creating an <a href="https://github.com/funktional-stdo/ava/">audio engine called Ava</a>, a generative music DAW, and a digital hardware synthesizer. I do a lot of smaller fun side projects as well too!
      <br>
      <a href="#"><i class="fa fa-camera-retro"></i></a>&nbsp;
      <a href="#"><i class="fa fa-camera-retro"></i></a>&nbsp;
      <a href="#"><i class="fa fa-camera-retro"></i></a>&nbsp;
      <a href="#"><i class="fa fa-camera-retro"></i></a>&nbsp;
      </p>
  </div>
</section>
