<section class="intro">
  <div class="container">
    <p class="lead">
      Hi, I'm AMU! I make music/software/hardware/games. Currently working as a game dev in a game studio. Also finishing an open-source iot-based digital hardware synthesizer called <a href="">Natural</a> which is powered by an open-source audio engine called <a href="https://github.com/funktional-stdo/ava"> Ava</a>. As well as some other currently secret projects haha.  <br> Read more about me from the link on the menu above or read previous blog posts below. <br> Also listen to my music in <a href="https://spoti.fi/2kNt827">Spotify</a> or <a href="https://apple.co/3g859E0">Apple Music</a> or <a href="https://bit.ly/3su5S7x">Bandcamp</a>. 
      <br><br>
      
      </p>
  </div>
</section>
