<ul class="topbar">
	<!-- <a href="/me"><li><u>A</u>bout</li></a> -->
	<a href="https://github.com/amuuu" target="_blank"><li><u>G</u>itHub</li></a>
	<a href="https://www.instagram.com/amu_v0.2/" target="_blank"><li><u>I</u>nstagram</li></a>
	<a href="https://twitter.com/sudoamu" target="_blank"><li><u>T</u>witter</li></a>
	<a href="https://www.linkedin.com/in/amirreza-amouie/" target="_blank"><li><u>L</u>inkedIn</li></a>
	<a href="https://spoti.fi/2kNt827" target="_blank"><li><u>A</u>MU's Spotify</li></a>
</ul>
